div.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    width: 384px;
    height: 244px;
}

div.download-container {
    position: fixed;
    top: 0;
    z-index: 1;
}

span.card {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 208px;
    border-radius: 8px;
    justify-content: space-evenly;
    position: fixed;
    top: 24px;
}

span.card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card > h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: #111827;
    margin: 1rem 0 0 0;
}

.card > p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #6B7280;
    margin: 0 1rem 0.5rem 1rem;
    text-align: center;
}

div.card-spacing {
    display: flex;
    gap: 1rem;
    justify-self: center;
}