:root {
    --testimonial-top: 100px;
}

.testimonial-container {
    height: 654px;
    min-width: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    margin-top: 2rem;
}

img {
    height: 200px;
    width: 344px;
    border-radius: 12px;
    object-fit: cover;
    object-position: 10% 33%;
}

.testimonial {
    background-color: #2545B8;
    position: fixed;
    top: var(--testimonial-top);
    z-index: -1;
    height: 454px;
    padding: var(--testimonial-top) 16px 0;
}

.quote-icon {
    margin-top: 3rem;
}

.testimonial > h1, h2 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
}

.testimonial > h1 {
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0;
}

.testimonial > h2 {
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
}

.testimonial > p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin: 1.5rem 0;
}

.testimonial-spacing {
    display: flex;
    justify-content: center;
}

/* @media (min-width: 768px) { */
@media (min-width: 889px) {

    :root {
        --main-height: 464px;
        --testimonial-top: 32px;
        --left-edge: 48px;
    }

    .testimonial-container {
        height: var(--main-height);
        width: 100%;
        max-width: 1358px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 var(--left-edge) 0 calc(var(--left-edge) * 2);
    }

    img {
        height: var(--main-height);
        border-radius: 12px;
        object-fit: cover;
        object-position: 10% 33%;
    }

    .testimonial {
        background-color: #2545B8;
        position: fixed;
        top: var(--testimonial-top);
        left: calc(var(--left-edge) * -1);
        z-index: -1;
        height: calc(var(--main-height) - calc(2 * var(--testimonial-top)));
        padding: 0 var(--left-edge) 0 444px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quote-icon {
        margin: 0;
    }

}